body {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,
    monospace;
}

.top_of_pages {
  text-decoration: none;
  padding-left: 20px;
  margin-top: 20px;
  color: black;
} 
.space
{
  padding-top: 15px;
}

.welcome_message
{
  text-align: center;
  font-size: 35px;
  color:black;
}

.content
{
  text-decoration: none;
  text-align: center;

  padding-top: 20px;
  background-color: darkgrey;
  padding-bottom: 25px;
}

.top_of_pages:hover{
  cursor: pointer;
  color:white;
}

.content_other
{
  text-decoration: none;
  padding-left: 60px;
}
.form_one
{
  align-content: center;
  margin: 8px;
}
.form_two
{
  align-content: center;
  margin: 8px;
}

.add_item
{
  size: 8px;
  margin-left: 12px;
  text-align: center;
  background-color: rgb(8, 255, 8);
  border-color: rgb(8, 255, 8);
  transition-duration: 0.2s;
  border-radius: 12px;
  border-radius: 50px;
  padding: 5px;
  margin-bottom: 10px;
}

.add_item:hover
{
  background-color: darkgreen;
  border-color: darkgreen;
  cursor: pointer;
}

.food
{
  border: black;
  border: 5px;
  border-style: solid;
  padding: 20px;
  background-color: rgb(158, 72, 72);
  border-radius: 50px;
  margin-right: 100px;
}
.construction
{
  border: black;
  border: 5px;
  border-style: solid;
  padding: 20px;
  background-color: violet;
  border-radius: 50px;
  margin-right: 100px;

}
.home
{
  border: black;
  border: 5px;
  border-style: solid;
  padding: 20px;
  background-color: rgb(33, 109, 208);
  margin-right: 100px;
  border-radius: 50px;

}
.clothing
{
  border: black;
  border: 5px;
  border-style: solid;
  padding: 20px;
  background-color: rgb(15, 123, 28);
  margin-right: 100px;
  border-radius: 50px;

}
.other
{
  border: black;
  border: 5px;
  border-style: solid;
  padding: 20px;
  background-color: rgb(235, 118, 41);
  margin-right: 100px;
  border-radius: 50px;
}

.form_outline
{
  padding-bottom: 15px;
}

input.error
{
  border-color: red;
}

.delete_button
{
  background-color: white;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
}
.delete_button:hover
{
  background-color: red;
}

.update_button
{
  background-color: white;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px;
  transition: 0.3s;
  margin-left: 10px;
}
.update_button:hover
{
  background-color: peachpuff;
}

.Heading
{
  text-align: center;
}

.details
{
  text-align: center;

}

.error_pop
{
  color: black;
  background-color: red;
  text-align: center;
  padding: 4.5px;
  transition: 0.2s;
  border-radius: 10px;
  margin-top: 10px;
}

.hidden
{
  visibility: hidden;
}